.app
    display flex

.panel
    background #1baaaa
    position absolute
    width 200px
    height 100%

    text-align center
    padding 10px

.row
    padding 5px

input
    background-color transparent
    border none

input[type=number]
    width 15%
    text-decoration underline
    font-weight 700
    background lightgray
    text-align center

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button  
  -webkit-appearance none
  margin 0